body {
  text-align: center;
  background-color: #a06060;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: cursive;
  text-shadow: 3px 0 #DA0463;

}

.w {
  background-image: url("https://github.com/avi-tech-test/git-branching-prac/assets/129321548/68632425-89f4-435b-89e3-13f0b734616c");
}

.a {
  background-image: url("https://github.com/avi-tech-test/git-branching-prac/assets/129321548/9c9b655d-243a-4472-9c61-95f4e4a6c641");
}

.s {
  background-image: url("https://github.com/avi-tech-test/git-branching-prac/assets/129321548/b56017dd-9661-476e-a6ff-d7c4603b9a99");
}

.d {
  background-image: url("https://github.com/avi-tech-test/git-branching-prac/assets/129321548/7cf597af-c53c-4802-8fcf-b84d7e0a1145");
}

.j {
  background-image: url("https://github.com/avi-tech-test/git-branching-prac/assets/129321548/e7147866-18c2-4849-939e-d3958ffd49d6");
}

.k {
  background-image: url("https://github.com/avi-tech-test/git-branching-prac/assets/129321548/db259737-073d-4ba5-bec4-0ecb471078bf");
}

.l {
  background-image: url("https://github.com/avi-tech-test/git-branching-prac/assets/129321548/edc05b39-04ed-4e9e-9813-9ef2c9277a80");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
