body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("images/mario-bg.jpg");
    background-size: cover;
}

#board {
    width: 540px;
    height: 540px;
    /* background-color: green; */

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("https://github.com/GameSphere-MultiPlayer/GameSphere/assets/56786344/064e409c-5298-4344-9f2a-53109303b42e");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 180px; 
    height: 180px;
    background-image: url("https://github.com/GameSphere-MultiPlayer/GameSphere/assets/56786344/773ebd2c-556f-410a-903e-a6fa3664d309");
    background-size: cover;
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}