.section{
    background-color: black;
}
.wrapper{
    text-align: center;
   }

  .section h3{
    color: #ffffff;
   text-align: center;
   margin-bottom: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: .1em;
  }

  .section h3 span{
    color: rgb(0 159 157);
  }
  
  .wrapper .icon{
      position: relative;
      background-color:  #ffffff;
      border-radius: 50%;
      margin: 10px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 22px;
      text-align:center ;
      display: inline-flex;
     flex-direction: column;
      align-items: center;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      color: #333;
      text-decoration: none;
    }
    .wrapper .tooltip {
      position: absolute;
      top: 0;
      line-height: 1.5;
      font-size: 14px;
      background-color: #ffffff;
      color: #ffffff;
     padding: 10px 18px;
      border-radius: 25px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .tooltip::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background-color: #ffffff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .icon:hover .tooltip {
      top: -45px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
      background-color: #7289da;
      color: #ffffff;
    }
    .wrapper .twitter:hover,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
      background-color: #3b5998;
      color: #ffffff;
    }
    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
      background-color: #e1306c;
      color: #ffffff;
    }
    .wrapper .github:hover,
    .wrapper .github:hover .tooltip,
    .wrapper .github:hover .tooltip::before {
      background-color: #333333;
      color: #ffffff;
    }
    .wrapper .linkedin:hover,
    .wrapper .linkedin:hover .tooltip,
    .wrapper .linkedin:hover .tooltip::before {
      background-color: #003288;
      color: #ffffff;
    }
    
.scrollToTopContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2rem 2rem 0;

  height: fit-content;
  width: fit-content;
  z-index: 100000;
}

.scrollToTopButton {
  border-radius: 100%;
  height: 42px;
  width: 42px;
  background-color: rgba(255, 255, 255, 0.9);

  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #2980b9;
} 

.container3 {

  margin: auto;
  text-align: center;
  width: 90%;
  padding: 0 1rem;
  height: 40vh;
margin-top: 10vh;

}


.counter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}
.counter-item {
  background: rgb(0 159 157);
  padding: 2rem 1.5rem;
  text-align: center;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
  transform: translateY(6rem);
  
height: auto;
}

.counter-item p{
  font-weight:500;
  font-size:20px;
  padding:5px;
}
.counter-img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.2rem #251c5a);
}
.counter-img:nth-child(1) {
  width: 9rem;
  height: auto;
}
.counter-item:hover {
  left: -25px;
  padding: 60px 40px;
  cursor: pointer;

  transition: all 0.5s ease-in-out;
}
.counter-item .counter {
  font-size: 4.5rem;
  color: transparent;
  color: transparent;
  letter-spacing: 0.5rem;
  -webkit-text-stroke-width: 0.15rem;
  -moz-text-stroke-width: 0.15rem;
  -ms-text-stroke-width: 0.15rem;
  -o-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: #fff;
  -moz-text-stroke-color:#fff;
  -ms-text-stroke-color: #fff;
  -o-text-stroke-color:#fff;
}

@keyframes slide-up {
  0% {
    transform: translateY(6rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.join-content .discord-btn{
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  border: 2px solid rgb(0 159 157);
  color: rgb(0 159 157);
  z-index: 10;
  width: 300px;
  height: 34px;
 padding: 10px 18px;
 font-size: large;
 letter-spacing: .1em;
 line-height: 1.75rem;
 
}

.join-content .discord-btn:hover{
  background-color: rgb(0 159 157);
    color:white;
    transition: ease-in-out;
    animation-duration: 300;
}

