:root{
  --main-color:rgb(0 159 157 );
}

/* Search Bar CSS */
.search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  /* // box-shadow: 0 0 25px 0 crimson; */
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
  }
  &::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
  }
}

#searchForm {
  position: absolute;
  top: 8rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#searchForm:hover {
  background-color: red;
}

.form-control {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  /* // border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson,
              0 20px 25px 0 rgba(0, 0, 0, 0.2);
  /* // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5); */
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
  }
  &:focus ~ .search {
    right: -250px;
    background: #d00d0d;
    z-index: 6;
    /* top: 8rem; */
    left: 14rem;
    &::before {
      top: 0;
      left: 0;
      width: 25px;
    }
    &::after {
      top: 0;
      left: 0;
      width: 25px;
      height: 2px;
      border: none;
      background: white;
      border-radius: 0%;
      transform: rotate(-45deg);
    }
  }
  &::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }
}

.form-control:focus {
  border-radius: 10px red;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.686);
}

.form-control::placeholder {
  color: white;
}

.form-control:hover,
.form-control:focus {
  border-radius: 50px rgb(0, 255, 229);
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .game-card-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .game-card-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* End of the Search Bar */
.section{
    background-color: black;
}
.bouncingball-div{
  display: flex;
  justify-content: flex-end;
  width :100% ;
 height:40% ;
}
.bouncingball {
  position: relative;
  width: 100%;
  height: 90px;
  bottom: 210px ;
  margin: 0 auto;
  justify-content: space-between;
  margin-left: auto;
}
.bouncingball:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 92%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--main-color);
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}
.bouncingball:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 70px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}
@media (max-width: 800px) {
  .bouncingball{
    display: none;
  }
}

.wrapper{
    text-align: center;
   }

  .section h3{
    color: #ffffff;
   text-align: center;
   margin-bottom: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: .1em;
  }

  .section h3 span{
    color: var(--main-color);
  }
  
  .wrapper .icon{
      position: relative;
      background-color:  #ffffff;
      border-radius: 50%;
      margin: 10px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 22px;
      text-align:center ;
      display: inline-flex;
     flex-direction: column;
      align-items: center;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      color: #333;
      text-decoration: none;
    }
    .wrapper .tooltip {
      position: absolute;
      top: 0;
      line-height: 1.5;
      font-size: 14px;
      background-color: #ffffff;
      color: #ffffff;
     padding: 10px 18px;
      border-radius: 25px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .tooltip::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background-color: #ffffff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .icon:hover .tooltip {
      top: -45px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
      background-color: #7289da;
      color: #ffffff;
    }
    .wrapper .twitter:hover,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
      background-color: #3b5998;
      color: #ffffff;
    }
    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
      background-color: #e1306c;
      color: #ffffff;
    }
    .wrapper .github:hover,
    .wrapper .github:hover .tooltip,
    .wrapper .github:hover .tooltip::before {
      background-color: #333333;
      color: #ffffff;
    }
    .wrapper .linkedin:hover,
    .wrapper .linkedin:hover .tooltip,
    .wrapper .linkedin:hover .tooltip::before {
      background-color: #003288;
      color: #ffffff;
    }
    
.scrollToTopContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2rem 2rem 0;

  height: fit-content;
  width: fit-content;
  z-index: 100000;
}

.scrollToTopButton {
  border-radius: 100%;
  height: 42px;
  width: 42px;
  background-color: rgba(255, 255, 255, 0.9);

  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px var(--main-color);
} 

.container3 {

  margin: auto;
  text-align: center;
  width: 90%;
  padding: 0 1rem;
  height: 40vh;
margin-top: 10vh;

}


.counter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}
.counter-item {
  background: var(--main-color);
  padding: 2rem 1.5rem;
  text-align: center;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
  transform: translateY(6rem);
  
height: auto;
}

.counter-item p{
  font-weight:500;
  font-size:20px;
  padding:5px;
}
.counter-img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.2rem #251c5a);
}
.counter-img:nth-child(1) {
  width: 9rem;
  height: auto;
}
.counter-item:hover {
  left: -25px;
  padding: 60px 40px;
  cursor: pointer;

  transition: all 0.5s ease-in-out;
}
.counter-item .counter {
  font-size: 4.5rem;
  color: transparent;
  color: transparent;
  letter-spacing: 0.5rem;
  -webkit-text-stroke-width: 0.15rem;
  -moz-text-stroke-width: 0.15rem;
  -ms-text-stroke-width: 0.15rem;
  -o-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: #fff;
  -moz-text-stroke-color:#fff;
  -ms-text-stroke-color: #fff;
  -o-text-stroke-color:#fff;
}

@keyframes slide-up {
  0% {
    transform: translateY(6rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.join-content .discord-btn{
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  z-index: 10;
  width: 300px;
  height: 34px;
 padding: 10px 18px;
 font-size: large;
 letter-spacing: .1em;
 line-height: 1.75rem;
 
}

.join-content .discord-btn:hover{
  background-color: var(--main-color);
    color:white;
    transition: ease-in-out;
    animation-duration: 300;
}
#footer1{
  background-color:black;
  color: #fff;
  padding: 20px;
  text-align: center;
 }

 .background{
  background-color: var(--main-color);
 }

 .border{
  border: 2px solid var(--main-color);
 }

 .color{
  color: var(--main-color);
 }

 .hover:hover{
  color: var(--main-color);
 }

 .background-hover:hover{
  background-color: var(--main-color);
 }

.game-card video{
  display:none;
height: 280px;
object-fit: cover;

}

.game-card:hover .display-none{
  display:none;

}

.game-card:hover video{
  display: block;
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
opacity: 2;
width: 100%;
height: 100%;
object-fit: cover;

 
}


.share-icon{
  text-align: right;
  color: #ffffff;
}

