.section{
    background-color: black;
}
.wrapper{
    text-align: center;
   }

  .section h3{
    color: #ffffff;
   text-align: center;
   margin-bottom: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: .1em;
  }

  .section h3 span{
    color: rgb(0 159 157);
  }
  
  .wrapper .icon{
      position: relative;
      background-color:  #ffffff;
      border-radius: 50%;
      margin: 10px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 22px;
      text-align:center ;
      display: inline-flex;
     flex-direction: column;
      align-items: center;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      color: #333;
      text-decoration: none;
    }
    .wrapper .tooltip {
      position: absolute;
      top: 0;
      line-height: 1.5;
      font-size: 14px;
      background-color: #ffffff;
      color: #ffffff;
     padding: 10px 18px;
      border-radius: 25px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .tooltip::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background-color: #ffffff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .icon:hover .tooltip {
      top: -45px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
      background-color: #7289da;
      color: #ffffff;
    }
    .wrapper .twitter:hover,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
      background-color: #3b5998;
      color: #ffffff;
    }
    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
      background-color: #e1306c;
      color: #ffffff;
    }
    .wrapper .github:hover,
    .wrapper .github:hover .tooltip,
    .wrapper .github:hover .tooltip::before {
      background-color: #333333;
      color: #ffffff;
    }
    .wrapper .linkedin:hover,
    .wrapper .linkedin:hover .tooltip,
    .wrapper .linkedin:hover .tooltip::before {
      background-color: #003288;
      color: #ffffff;
    }
    
