* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    background-color: #081b31;
    padding-top: 1rem;
    text-align: center;
    height: 5rem;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice img:hover {
    cursor: pointer;
    border: 0.5rem #081b31 solid;
}
.choice img {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
}
.score-board p{
    margin-left: 2rem;
    margin-right: 2rem;
}
#user-score,#comp-score{
    font-size: 3rem;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    font-size: 1.5rem;
    display: inline;
    background-color: #081b31;
    color: #fff;
    padding: 1rem;
    border-radius: 5rem;
}