body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

#gameCanvas {
    background: #000;
    display: block;
    border: 1px solid #fff;
}
