* {
  box-sizing: border-box;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  /* display:inline-block; */
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-e-1 {width: 8.33%;}
  .col-e-2 {width: 16.66%;}
  .col-e-3 {width: 25%;}
  .col-e-4 {width: 33.33%;}
  .col-e-5 {width: 41.66%;}
  .col-e-6 {width: 50%;}
  .col-e-7 {width: 58.33%;}
  .col-e-8 {width: 66.66%;}
  .col-e-9 {width: 75%;}
  .col-e-10 {width: 83.33%;}
  .col-e-12 {width: 100%;}
}
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

body {

  font-family: 'Genos', sans-serif;
  overflow-x: hidden;
}

/*-----------LOGO--------- */

/* .left-logo{
  
} */

/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------NAV BAR---------- */
/* ------------------------------ */
/* ------------------------------ */

.nav-bar {
  position: absolute;
  left: 12px;
  top: -22px;
  margin-left: 23px;
}

.nav-bar ul {
  display: inline-flex;
  justify-content: center;

}

.nav-bar li {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.nav-bar li a {
  font-size: x-large;
  text-decoration: none;
  color: white;
  padding: 19px;
}

.nav-bar li a:hover {
  color: rgb(178, 200, 220);
}

/* ----------------------------- */
/* ----------------------------- */
/* ----RIGHT SOCIALS------------ */
/* ----------------------------- */
/* ----------------------------- */

.right-socials {
  color: white;
  /* border: 2px solid yellow; */
  position: absolute;
  right: 5px;
  top: 17px;
}

.social-btn {
  display: inline-block;
  background-color: #ff0000;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 10px;
  transition: box-shadow 0.3s ease;
}

.social-btn:hover {
  color: rgb(214, 180, 180);
  box-shadow: 2px 2px 2px rgb(41, 31, 31);
}
/* -------------------------------------------- */
/* -------------------------------------------- */
/* ----------GAME SPHERE DESCRIPTION---------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
#video-content {
  position: relative;
  top: 269px;
  left: 45px;
  z-index: 1;
  color: white;
  padding: 16px;
  margin: -24px;
  color: #d29f9f;
  width: 50%;
}

/* --------------SHIVERING EFFECT-------------------------- */
/* @keyframes shiver {
      0% { transform: translateX(0); }
      10% { transform: translateX(-5px) rotateZ(-1deg); }
      20% { transform: translateX(5px) rotateZ(1deg); }
      30% { transform: translateX(-5px) rotateZ(-1deg); }
      40% { transform: translateX(5px) rotateZ(1deg); }
      50% { transform: translateX(-5px) rotateZ(-1deg); }
      60% { transform: translateX(5px) rotateZ(1deg); }
      70% { transform: translateX(-5px) rotateZ(-1deg); }
      80% { transform: translateX(5px) rotateZ(1deg); }
      90% { transform: translateX(-5px) rotateZ(-1deg); }
      100% { transform: translateX(0); }
}

h1 {
      animation: shiver 0.5s infinite;
}
*/
/*-------------------- SLIDING EFFECT ---------------------*/
/* @keyframes slide {
      0% { transform: translateX(0); opacity: 1; }
      50% { transform: translateX(5%); opacity: 1; }
    } */
/* -------------------------------------------------------- */

.video-content-head {
  /* animation: slide 3s linear infinite; */
  color: #d25a5a;
}

.sub-head {
  color: aliceblue;
  margin-top: 1px;
}

.btn {
  padding: 17px;
  margin-top: 12px;
  color: #cdc9c9;
  background-color: #fd0404;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  width: 50%;
  margin: 12px auto;
  font: inherit;
  font-size: larger;
  cursor: pointer;
  transition: box-shadow 0.3s ease , color 0.3s ease;
}

.btn:hover {
  color: #c7acac;
  box-shadow: 4px 4px rgb(53, 41, 41);
  
}

#video-background {
  position: sticky;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: max-content;
  height: auto;
  z-index: -100;
  margin: -6px;

}
/* --------------------------------------- */
/* --------------------------------------- */
/* ------TODAYS GAME COLLECTION---------- */
/* --------------------------------------- */
/* --------------------------------------- */

img {
  width: 400px;
  border-radius: 20px;
  margin-left: 23px;
  margin-top: 11px;
}

.todays-game-image {
  transition: box-shadow 0.3s ease , opacity 0.3s ease-in;

}

.todays-game-image:hover {
  box-shadow: 9px 9px rgb(70, 176, 176);
  opacity: 0.9;
}

.todays-game-header {
  color: aliceblue;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.484);
  padding: 23px;
  margin-top: 382px;
  font-size: 40px;
  transition: padding 0.3s ease;
}

.todays-game-header:hover {
  padding: 45px;
}

.todays-game {
  display: inline-flex;
  flex-direction: row;
}

#todays-game-text {
  color: rgb(234, 14, 14);
  position: relative;
  top: -41px;
  float: right;
  margin-left: 98px;
  margin-right: 48px;
  padding: 30px;
  transition: padding 0.3s ease;
}

#todays-game-text:hover {
  padding: 31px;
}
/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* -------TRENDING GAMES SPECIALLY FOR YOU------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

.trending-games-card-header {
  color: aliceblue;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.484);
  padding: 23px;
  margin-top: 130px;
  font-size: 40px;
  transition: padding 0.3s ease;
}

.trending-games-card-header:hover {
  padding: 40px;
}

.sub-card {
  background-color: #221616c4;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 30%;
  color: aliceblue;
  margin-left: 23px;
  margin-top: 30px;
  transition: box-shadow 0.7s ease-in , margin-top 0.3s ease , margin-left 0.4s ease-in;
}

.sub-card:hover {
  box-shadow: 9px 9px rgba(75, 71, 71, 0.854);
  margin-top: 35px;
  margin-left: 30px;
}

.sub-card-title {
  font-size: 40px;
  margin-top: 0;
}

.sub-card-description {
  font-size: large;
  color: aliceblue;
}

.sub-card-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ff0000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font: inherit;
  font-size: large;
  transition:box-shadow 0.3s ease;
}

.sub-card-link:hover {
  box-shadow: 3px 3px rgba(150, 44, 44, 0.833);
}

/* ----------------------------------- */
/* ----------------------------------- */
/* --------TOP 10 RANKING------------ */
/* ----------------------------------- */
/* ----------------------------------- */
.top-ten-ranking-card {
  color: aliceblue;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.484);
  padding: 23px;
  margin-top: 154px;
  font-size: 40px;
  transition: padding 0.3s ease;
}

.top-ten-ranking-card:hover {
  padding: 45px;
}

.leaderboard-link-btn {
  padding: 17px;
  margin-top: 12px;
  color: #cdc9c9;
  background-color: #fd0404;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  width: 50%;
  margin: 12px auto;
  font: inherit;
  font-size: larger;
  display: inline-block;
  width: 50%;
  margin-left: 23px;
  cursor: pointer;
  transition: padding 0.3s ease , box-shadow 0.3s ease;
}

.leaderboard-link-btn:hover {
  padding: 20px;
  box-shadow: 5px 5px 5px rgb(58, 50, 50);
}

.challenges-link-btn {
  padding: 17px;
  margin-top: 12px;
  color: #cdc9c9;
  background-color: #fd0404;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  width: 50%;
  margin: 12px auto;
  font: inherit;
  font-size: larger;
  display: inline-block;
  width: 47%;
  cursor: pointer;
  transition: padding 0.3s ease, box-shadow 0.3s ease;
}

.challenges-link-btn:hover {
  padding: 20px;
  box-shadow: 5px 5px 5px rgb(46, 40, 40);
}

.leader-board-card {
  box-sizing: border-box;
  border: 2px solid #ffffff2c;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.502);
  height: 33%;
  width: 49%;
  display: inline-block;
  margin-left: 24px;
  margin-top: 8px;
  padding-left: 28px;
  /* text-align:center; */
  transition: box-shadow 0.3s ease , padding 0.3s ease;
}

.leader-board-card:hover {
  box-shadow: 5px 5px rgb(21, 21, 21);
  padding: 30px;
}

.challenges-card {
  box-sizing: border-box;
  border: 2px solid #ffffff2c;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.502);
  height: 33%;
  width: 46%;
  display: inline-block;
  margin-left: 24px;
  margin-top: 8px;
  padding-left: 28px;
  /* text-align: center; */
  transition: box-shadow 0.3s ease , padding 0.3 ease;
}

.challenges-card:hover {
  box-shadow: 5px 5px rgb(21, 21, 21);
  padding: 29px;
}

.profile-and-challenge-link {
  text-decoration: none;
  color: aliceblue;
  transition: padding 0.3s ease-in , color 0.3s ease-in;
}

.profile-and-challenge-link:hover {
  padding: 5px;
  color: rgb(222, 167, 167);
}

.victory-icon1 {
  height: 17%;
  width: 13%;
  float: right;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 5px;
}
/* ------------------------------- */
/* ------------------------------- */
/*-----------CONTACT US----------- */
/* ------------------------------- */
/* ------------------------------- */

.bar {
  background-color: #00000074;
  color: aliceblue;
  position: relative;
  top: 175px;
  left: 23px;
  padding: 22px;
  margin-right: 30px;
  border-radius: 4px;
  transition: padding 0.5s ease;
}

.bar:hover {
  padding: 23px;
  border-radius: 5px;
}

.call-us {
  padding: 23px;
  font-size: larger;
}

.business-hours {
  padding: 23px;
  font-size: larger;
}

.location {
  padding: 23px;
  font-size: larger;
}

.contact-form {
  position: absolute;
  top: 2700px;
  left: 458px;
  background-color: #ff0000c9;
  padding: 20px 23px 25px 23px;
  width: 55%;
  height: 75%;
  font: larger;
  color: aliceblue;
  border-radius: 4px;
  transition: box-shadow 0.5s ease, padding 0.5s ease, border-radius 0.5s ease-in;
}

.contact-form:hover {
  padding: 22px;
  box-shadow: 6px 6px black;
  border-radius: 5px;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 14px;
}

.name-form {
  padding: 13px;
}

.email-form {
  padding: 13px;
}

.btn-contact-form {
  padding: 17px;
  color: #cdc9c9;
  background-color: #fd0404;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 12px auto;
  font: inherit;
  font-size: larger;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.btn-contact-form:hover {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.605);
}
/* -------------------------------------- */
/* -------------------------------------- */
/* -------FOOTER------------------------ */
/* --------------------------------------*/
/* -------------------------------------- */

.subscribe-btn {
  position: absolute;
  top: 3217px;
  left: 455px;
  padding: 5px 5px;
  width: 25%;
  border-radius: 5px;
  color: white;
  font: inherit;
  cursor: pointer;
  background-color: red;
  transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.subscribe-btn:hover {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.605);
  padding: 7px;
}

.subscribe-btn a {
  color: black;
  text-decoration: none;
}

.subscribe-btn i {
  color: black;
}

.socials {
  text-align: center;
  background-color: #14141481;
  position: absolute;
  top: 3317px;
  left: 398px;
  padding: 9px;
  width: 35%;
  border-radius: 12px;
  cursor: pointer;
  transition: padding 0.3s ease , border-radius 0.5s ease , box-shadow 0.3s ease;;
}

.socials:hover {
  padding: 11px;
  border-radius:5px;
  box-shadow:2px 2px 2px 2px black;
  
}

.socials a {
  color: black;
  text-decoration: none;
}

#socials-facebook {
  color: rgb(54, 54, 201);
  font-size: 27px;
  padding: 12px;
  transition:box-shadow 0.3s ease;
}
#socials-facebook:hover{
  box-shadow:2px 0px 2px 2px rgb(54, 54, 201);
}
#socials-instagram {
  color: rgb(225, 42, 158);
  font-size: 27px;
  padding: 12px;
  transition:box-shadow 0.3s ease;
}
#socials-instagram:hover{
  box-shadow:2px 0px 2px 2px  rgb(225, 42, 158);
}

#socials-twitter {
  color: rgb(44, 44, 206);
  font-size: 27px;
  padding: 12px;
  transition:box-shadow 0.3s ease;
}
#socials-twitter:hover{
  box-shadow:2px 0px 2px 2px rgb(44, 44, 206);
}

#socials-linkedin {
  color: rgb(32, 124, 189);
  font-size: 27px;
  padding: 12px;
  transition:box-shadow 0.3s ease;
}
#socials-linkedin:hover{
  box-shadow:2px 0px 2px 2px  rgb(32, 124, 189);
}





/*---------- NAV-BAR INITIAL STYLE---------- */

/* .mid-nav-bar {
    border: 2px solid grey;
    display: block;
    width: 65%;
    margin: 34px auto;
    border-radius: 50px;
    background-color: #ffffffbd;
}

.mid-nav-bar ul {
    display:inline-flex;
    justify-content:center;

}

.mid-nav-bar li {
    display:inline-flex;
    flex-direction: row;
    justify-content:center;
    list-style: none;
}

.mid-nav-bar li a {
    font-size: large;
    text-decoration: none;
    color: black;
    padding: 7px;
} */

/* ----------------------------------------- */