body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ff2e63, #ff9a2e, #ffcb2e, #76ff2e, #2effff);
    background-size: 1000% 1000%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

#game-container {
    position: relative;
    z-index: 1;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency for better contrast */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#word-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.letter {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

#letter-input {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 40px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

#guess-button, #hint-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

#guess-button:hover, #hint-button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

#attempts {
    font-size: 18px;
    margin-top: 20px;
}

#hint {
    display: none;
    margin-top: 20px;
    color: #333;
}

.show-hint {
    display: block;
}
#game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency for better contrast */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#hint {
    display: none;
    margin-top: 20px;
    color: #333;
}

.show-hint {
    display: block;
}
